.playlistpage{
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

.playlist-foreground{
  height: 340px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  min-width:815px
}

.playlist-foreground-box{
  display: flex;
  margin-left: 30px;
  width: 100%;
  justify-content: space-between;
}

.playlist-bottom{
    display: flex;
}


.playlist-content{
  width: 100%;
  min-height: 400px;
  border: 1px;
  border-color: lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 500px
}




.playlist-sidebar{
  min-height: 400px;
  border: 1px;
  border-color: lightgrey;
  background-color: pink;
  min-width:315px
}



.playlist-pic{
  width: 300px;
  height: 300px;
  margin: 0px 15px 0px 0px;
}

.playlist-info{
  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}

.playlist-profile-owner{
  font-size: 24px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;

}


.playlist-title{
  font-size: 24px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;

}

.playlist-stats{
  width: 100px;

}
