/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
    list-style: none;
 }





#content{

  height: 100%;
  min-height: 100%;
}

html{
  min-height: 100%;
  height: 100%;
}


body {
    background-color: #EDEDED;

}

.background{
height: 100%;
min-height: 100%;

}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.home {
  width: auto;
  margin: 40px 30px;
  background-color: white;
  height: 100%;
  min-height: 100%;
}

.trendingTracks{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.content-container{
  margin: 42px auto 0 auto;
  max-width: 1130px;
  width: 87%;
  min-height: 100%;
  height: 100%;
}


.login-modal{
  height: 100px;
  width: 400px;
  min-width: 400px;
  min-height: 100px;
  background-color: black;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-200px) translateY(-100px);
  -moz-transform: translateX(-200px) translateY(-100px);
  -webkit-transform: translateX(-200px) translateY(-100px);
  transform: translateX(-200px) translateY(-100px);
  border-style: none;
}

.login-title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 20px;
}

.login-input{
  display: flex;
  justify-content: space-around;
}

.login-input-buttons{

  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}

.login-input-button{
  background-color: orange;
  color:white;
  font-family: Arial;
  margin: 0px 10px;
  padding: 5px;
}

.navBar-title{
  height: 100%;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  display: flex;
  align-items: center;
  color: orange;
}


.tab-selected{
  color: orange;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.ReactModal__Body--open{
  overflow-y: hidden;
}
