.like-button{
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  border: 1px solid;
  border-radius: 5px;
  width: 60px;
  padding: 5px 0px;
  border-color: #CCCCCC;
  cursor: pointer;
  font-size: 12px;
}

.like-button:hover{
  border-color: grey;
}



.like-button-unlike{
  border-color: #ff5e00;
  color: #ff5e00;

}

.like-heart{

}
