.like-button{
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  border: 1px solid;
  border-radius: 5px;
  width: 50px;
  padding: 5px 5px;
  border-color: #CCCCCC;
  cursor: pointer;
  font-size: 12px;
}

.like-button-unlike{
  border-color: orange;
  color: orange;

}

.like-heart{

}
