.playlist-modal{
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-style: none;
  outline:0;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.playlist-modal-inside-tabs{
  width: 100%;
  height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #CCCCCC;
}

.playlist-modal-inside-tab{
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
}


.playlist-modal-inside-tabbed{
  color: orange;
  border-bottom: 1px solid;
  border-color: orange;
}

.playlist-modal-inside-container{
  width: 100%;
  list-style: none;
  margin:0;
  padding:0
}

.playlist-modal-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid;
  border-color: #CCCCCC;
}

.playlist-modal-list-number{
  padding: 8px 0px;
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 12px;
}

.playlist-modal-list-author{
  padding: 8px 0px;
  height: 30px;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: 0px 10px;
  pointer-events: none;
}

.playlist-modal-list-items{
  padding: 8px 0px;
  height: 30px;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  line-height: 30px;
  margin: 0px 10px;
  pointer-events: none;
}

.playlist-modal-list-items-image{
  height: 30px;
  width: 30px;
  padding: 8px 0px;
  pointer-events: none;
  margin: 0px 5px;
}

.playlist-modal-inside-buttons{
  height: 40px;
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playlist-modal-inside-buttons-cancel{
  margin: 0px 10px;
  font-size: 14px;
}

.playlist-modal-inside-buttons-save{
  border: 2px solid orange;
  background-color: orange;
  color: white;
  border-radius: 5px;
  margin: 0px 20px;
  padding: 3px 9px;
  font-size: 14px;
}

.ReactModal__Body--open{
  overflow-y: hidden;
}

.playlist-modal-inside-title{
  font-size: 12px;
}

.playlist-modal-inside-input{
  height: 20px;
  margin-bottom: 20px;
}

.playlist-modal-inside-textarea{
  height: 200px;
  width: 400px;
}

.playlist-modal-list-delete{
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
}


li.placeholder {
  background: lightgrey;
  height: 46px;
  display: flex;
  align-items: center;
}
li.placeholder:before {
  color: rgb(225,210,90);
}
