

.playlist-modal{
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-style: none;
  outline:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}





.playlist-modal-inside-tabs{
  width: 100%;
  height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #CCCCCC;
}

.playlist-modal-inside-tab{
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
}


.playlist-modal-inside-tabbed{
  color: #ff5e00;
  border-bottom: 1px solid;
  border-color: #ff5e00;
}

.playlist-modal-inside-container{
  width: 100%;
  list-style: none;
  margin:0;
  padding:0
}

.playlist-modal-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid;
  border-color: #CCCCCC;
}

.playlist-modal-list-number{
  padding: 8px 0px;
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 12px;
}

.playlist-modal-list-author{
  padding: 8px 0px;
  height: 30px;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: 0px 10px;
  pointer-events: none;
}

.playlist-modal-list-items{
  padding: 8px 0px;
  height: 30px;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  line-height: 30px;
  margin: 0px 10px;
  pointer-events: none;
}

.playlist-modal-list-items-image{
  height: 30px;
  width: 30px;
  padding: 8px 0px;
  pointer-events: none;
  margin: 0px 5px;
}

.playlist-modal-inside-buttons{
  height: 40px;
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playlist-modal-inside-buttons-cancel{
  margin: 0px 10px;
  font-size: 14px;
}

.playlist-modal-inside-buttons-save{
  border: 2px solid #ff5e00;
  background-color: #ff5e00;
  color: white;
  border-radius: 5px;
  margin: 0px 20px;
  padding: 3px 9px;
  font-size: 14px;
}



.playlist-modal-inside-title{
  font-size: 12px;
}

.playlist-modal-inside-input{
  height: 20px;
  margin-bottom: 20px;
}

.playlist-modal-inside-textarea{
  height: 200px;
  width: 400px;
}

.playlist-modal-list-delete{
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
}


li.placeholder {
  background: lightgrey;
  height: 46px;
  display: flex;
  align-items: center;
}
li.placeholder:before {
  color: rgb(225,210,90);
}



.inplaylists-modal{
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-style: none;
  outline:0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;;
  flex-direction: column;
  padding: 5px;
}


.inplaylists-modal-list{
  padding: 10px 0px;
  min-width: 100%;
  width: 100%;
}

.inplaylists-modal-items{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid;
  border-color: lightgrey;
}

.inplaylists-modal-items-image{
  width: 50px;
  height: 50px;
  position: absolute;
}
.inplaylists-modal-items-title{
  font-size: 12px;
  margin: 15px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.inplaylists-modal-image-container{
  width: 50px;
  height: 50px;
  margin: 15px;
}

.inplaylists-modal-items-play{
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
}

.inplaylists-modal-items:hover .inplaylists-modal-items-play{
  display: flex;
}



.inplaylists-modal-items-author{
  font-size: 10px;
  margin: 15px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: grey;
}


.likes-modal{
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-style: none;
  outline:0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;;
  flex-direction: column;
  padding: 5px;
}

.likes-modal-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

}

.likes-modal-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 10px;

}


.likes-modal-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.likes-modal-user{
  width: 100px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeditem-modal{
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-style: none;
  outline:0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;;
  flex-direction: column;
  padding: 5px;
}


.modal-outer{
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
