
.navBar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 42px;
  background-color: #262e33;
  z-index: 9000;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.navBar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;

}

.nav-buttons{
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;


  color: white;
  font-weight: 100;
  font-size: 18px;
  font-style: Sans-serif;
  width: 75px;
  height: 100%;
}

.logged-out-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.logged-in-nav{
  display: flex;
  align-items: center;
  height: 100%;
}

.upload-button{
  margin: 0px 15px;
}

.home-button{

  margin: 0px 15px;
}

.upload-box{

  width: 80%;
  height: 100%;
  background-color: lightblue;
  margin: 0px 15px;
}



.signup-button {
  margin: 0px 15px;
}

.login-button {
  margin: 0px 15px;
}

.logout-button {
  margin: 0px 15px;

}

.userprofile{
  height: 100%;
  width: 100px;
  background-color: black;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 20px 20px;

}

.userprofile-image{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.userprofile-username{
  color: white;
}

.searchbar{
  height: 70%;
  width: 500px;
  min-width: 100px;
  background-color: white;
  margin: 0px 50px;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
}

.searchbar-inner{
  width: 96%;
  height: 80%;
  border-radius: 10px;
  background-color: transparent;
  border: 0px solid;
  color: black;
}


.searchbar-icon{
 width: 30px;
 height: 30px;
 background-image: url("http://res.cloudinary.com/bravaudio/image/upload/v1462475938/Untitled_Diagram_8_bdqezm.svg");
 background-size: 30px;
}
