.playlistpage{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-foreground{
  height: 340px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width:915px;
}

.playlist-foreground-box{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.playlist-bottom{
    display: flex;
}


.playlist-content{
  width: 100%;
  min-height: 490px;
  border-right: 1px solid;
  border-color: #CCCCCC;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 100px;
  min-width: 600px;

}




.playlist-sidebar{
  min-height: 490px;
  border: 1px;
  border-color: #CCCCCC;
  background-color: white;
  min-width:315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.playlist-sidebar-likes{
  margin: 0px auto;
  width: 80%;
}

.playlist-sidebar-likes-header{
  height: 35px;
  border-bottom: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0px;
  color: #CCCCCC;
  justify-content: space-between;
  cursor: default;
}

.playlist-sidebar-like-items{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.playlist-sidebar-like-item{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-sidebar-like-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.playlist-pic{
  width: 300px;
  height: 300px;
  margin: 0px 15px 0px 0px;
  min-width: 300px;
  background-color: black;
}



.playlist-owner{
  font-size: 14px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;
  cursor: default;

}


.playlist-title{
  font-size: 24px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;
  cursor: default;
}


.playlist-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.playlist-top-container{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.playlist-foreground-playbutton{
  height: 75px;
  width: 75px;
  min-width: 75px;
  background-image: url("http://res.cloudinary.com/bravaudio/image/upload/v1462339116/Untitled_Diagram_2_gil7ay.svg");
  background-size: 75px;
  background-repeat: no-repeat;
  cursor: pointer;
}



.playlist-top-names{
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}


.playlist-top-tagshistory{
  height: 100%;
  width: 90px;

}


.playlist-content-top{
  width: 90%;
  min-height: 45px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  display: flex;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}

.playlist-content-top-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.playlist-content-top-button{
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  border: 1px solid;
  border-radius: 5px;
  width: 14px;
  padding: 6px 6px;
  border-color: #CCCCCC;
}

.playlist-content-top-button:hover{
  border-color: grey;
}


.playlist-content-bottom{

  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.playlist-content-bottom-user{
  width:120px;
  min-width: 120px;
  height: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-content-bottom-right{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.playlist-content-bottom-tags{
  height: 40px;
  min-height: 40px;
  width: 100%;
}

.playlist-content-bottom-tracks{
  width: 100%;
  height: 100%;

}

.playlist-content-bottom-items{
  width: 100%;
  height: 50px;
  list-style-type:none;
  display: flex;
  align-items: center;


}

.playlist-content-items-image-container{
  min-width: 40px;
  width: 40px;
  height: 40px;
  z-index: 5;
  background-color: black;
  cursor: pointer;
}

.playlist-content-items-images{
  width: 40px;
  height: auto;
  position: absolute;

}


.playlist-content-items-play{
  width: 40px;
  height: 40px;
  position: absolute;
  display: none;
}

.playlist-content-bottom-items:hover .playlist-content-items-play{
  display: flex;
  z-index: 50;
}

.playlist-content-items-index{
  min-width: 10px;
  width: 10px;
  text-align: center;
  margin: 10px;
  color: #BFBFBF;
  cursor: default;
}

.playlist-content-items-author{
  min-width: 50px;
  width: 80px;
  font-size: 10px;
  text-align: left;
  margin: 0 5px 0px 10px;
  color: #BFBFBF;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.playlist-content-items-title{
  font-size: 11px;
  min-width: 200px;
  text-align: center;
  margin: 0 10px 0px 5px;
  color: #303030;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.playlist-content-items-spacer{
  text-align: center;
  color: #BFBFBF;
  cursor: default;
}



.playlist-content-user-image{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.playlist-content-user-name{
  width: 100%;
  float: left;
  margin-left: 25px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
  color: #303030;
  cursor: default;
}

.playlist-content-bottom-description{
  height: 40px;
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.playlist-content-items-stats{
  height: 30px;
  width: 100%;
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.playlist-content-items-buttons{
  height: 30px;
  width: 100%;
  min-width: 100px;
  display: none;
  justify-content: flex-end;

}

.playlist-content-items-likebutton{
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  border: 1px solid;
  border-radius: 5px;
  width: 25px;
  padding: 5px 5px;
  border-color: #CCCCCC;
  cursor: pointer;
}

.playlist-content-bottom-items:hover .playlist-content-items-buttons{
  display: flex;
}

.playlist-content-bottom-items:hover .playlist-content-items-stats{
  display: none;
}
.playlist-content-bottom-items:hover{
  background-color: #F5F5F5;
}
