video#splashvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

}


.splashvideo{
  background-color: black;
}

.splashpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.splash-entry{
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  font-size: 40px;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  height: 150px;
  width: 540px;
  background-color: black;
  z-index: 2;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-270px) translateY(-75px);
}
