.trackpage{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.track-bottom{
    display: flex;
}

.track-foreground{
  height: 340px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width:815px;
}

.track-content{
  width: 100%;
  min-height: 490px;
  border: 1px;
  border-color: lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  justify-content: flex-start;
  align-items: center;
}


.track-foreground-box{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 300px;

}


.track-top{
  display: flex;
  width: 100%;
  justify-content: space-between;

}


.track-foreground-playbutton{
  height: 75px;
  width: 75px;
  min-width: 75px;
  background-image: url("http://res.cloudinary.com/bravaudio/image/upload/v1462339116/Untitled_Diagram_2_gil7ay.svg");
  background-size: 75px;
    background-repeat: no-repeat;

}


.track-top-container{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.track-top-names{
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}


.track-owner{
  font-size: 14px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;


}

.track-title{
  font-size: 24px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;


}

.track-top-tagshistory{
  height: 100%;
  width: 90px;


}

.track-bottom{
  display: flex;

}

.track-pic{
  object-fit: cover;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0px 15px 0px 0px;
  min-width: 300px;

}

.track-content{
  width: 100%;
  min-height: 490px;
  border: 1px;
  border-color: lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  justify-content: flex-start;
  align-items: center;
}

.track-content-top{
  width: 90%;
  min-height: 100px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.track-content-top-writecomments{
  width: 100%;
  height: 30px;
  background-color: green;
}

.track-content-top-bottom{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-content-top-buttons{
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center

}

.track-content-top-stats{
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center
}

.track-content-bottom{
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.track-content-bottom-user{
  width:120px;
  min-width: 120px;
  height: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-content-user-image{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 10px;

}

.track-content-user-name{
  width: 100%;
  float: left;
  margin-left: 25px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
  color: #303030;

}


.track-content-bottom-right{
  width: 100%;
  display: flex;
  flex-direction: column;


}

.track-content-bottom-description{
  height: 40px;
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.track-content-bottom-tags{
  height: 40px;
  min-height: 40px;
  width: 100%;

}

.track-content-bottom-comment{
  height: 40px;
  min-height: 40px;
  width: 100%;
}

.track-sidebar{
  min-height: 490px;
  border: 1px;
  border-color: lightgrey;
  background-color: pink;
  min-width:315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.track-sidebar-inplaylists{
  margin: 0px auto;
  width: 80%;
  height: 300px;

}

.track-sidebar-inplaylists-header{
  height: 30px;
  border-bottom: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0px;
  color: grey;
}

.track-sidebar-inplaylists-items{
  width: 100%;
  height: 60px;
  display: flex;
align-items: center;
}

.track-sidebar-inplaylists-image{
height: 60px;
width: 60px;

}

.track-sidebar-inplaylists-info{
  height: 100%;
  margin-left: 10px;
}

.track-sidebar-inplaylists-author{
  font-size: 12px;
  color: gray;

}

.track-sidebar-inplaylists-title{

}
