.userpage{
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

.user-bottom{
  display: flex;

}

.user-foreground{
  height: 235px;
  background-color: grey;
  display: flex;
  align-items: center;
}

.user-content{
  width: 70%;
  min-height: 500px;
  border: 1px;
  border-color: lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
}





.user-sidebar{
  width: 30%;
  min-height: 500px;
  border: 1px;
  border-color: lightgrey;
  background-color: pink;

}

.user-profile-pic{
  width: auto;
  height: 200px;
  border-radius: 50%;
}



.user-profile-info{
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 35px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}



.user-profile-location {
  font-size: 14px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;

}

.user-profile-username{
  font-size: 24px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;
}


.user-content-tabs{
  margin-top:10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 0px 1px 0px;
}

.user-content-tabitems{
  padding: 0px 25px;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  justify-content: space-between;
}

.tab-selected{
  color: orange;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.user-content-tab-items{
  display: flex;
  flex-direction: column;
}

.user-profile-pic-container {
  width: 200px;
  height: 200px;
  margin-left: 35px;
}

.user-content-items{
  width: auto;
  height:220px;
  background-color: lightblue;
  display: flex;
  align-items: flex-start;
  margin: 20px;

}

.user-content-items-images{
  width:150px;
  height: 150px;
}
