.userpage{
  width: 100%;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.user-bottom{
  display: flex;
  height: 100%;
  min-height: 100%;

}

.user-foreground{
  height: 235px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  min-width: 915px;
}

.user-content{
  width: 70%;
  min-height: 100%;
  min-width: 600px;
  border: 1px;
  border-color: lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
}





.user-sidebar{
  width: 30%;
  min-height: 100%;
  background-color: pink;
  min-width: 315px;

}

.user-profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
}



.user-profile-info{
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 35px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}



.user-profile-location {
  font-size: 14px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;

}

.user-profile-username{
  font-size: 24px;
  background-color: #16171F;
  opacity: 0.85;
  color: white;
  padding: 2px 8px;
  margin: 5px;
}


.user-content-tabs{
  margin-top:10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 0px 1px 0px;
}

.user-content-tabitems{
  padding: 0px 25px;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  justify-content: space-between;
}

.tab-selected{
  color: orange;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.user-content-tab-items{
  display: flex;
  flex-direction: column;
}

.user-profile-pic-container {
  width: 200px;
  height: 200px;
  margin-left: 35px;
}

.user-content-items{
  width: auto;
  height:180px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;

}

.user-content-items-images{
  width:165px;
  height: 165px;
  min-width: 165px;
}

.user-content-items-main{
  width:100%;
  height: 165px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.user-content-items-top{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-content-items-mid{
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-content-items-bottom{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-content-items-play{
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url("http://res.cloudinary.com/bravaudio/image/upload/v1462401134/Untitled_Diagram_3_jxrtjl.svg");
  margin: 0px 5px 0px 10px;
}

.user-content-items-header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.user-content-items-author{
  color: grey;
  font-size: 12px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.user-content-items-title{
  font-size: 15px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}
