<!DOCTYPE html>
<html>
<head>
  <title>Bravaudio</title>
  <link rel="icon" href ="https://s3-us-west-1.amazonaws.com/bravaudio/orange-note-md.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
